<%- include ('./partials/header.ejs'); %>
<%- include ('./partials/nav.ejs'); %>

<hr>
<div class="container">
    <div class="card">
        <div class="card-header text-center fs-4">
            Pesquisa de produtos
        </div>
        <div class="card-body">
            <form method="POST" action="/search">
                <input class="form-control" type="search" name="codigo" placeholder="Escreva o código do produto"><br>
                <div class="d-grid gap-2">
                    <button class="btn btn-warning" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <hr>

    <div class="card">
        <div class="card-header fs-4">
            <b>Nome do Produto:</b> <%= product.name %>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col">
                    <b>Cor</b><div class="border"><%= product.color %></div> 
                </div>
                <div class="col">
                    <b>Tamanho:</b><div class="border"><%= product.size %></div> 
                </div>
                <div class="col">
                    <b>Marca:</b> <div class="border"><%= product.marca %></div> 
                </div>
                <div class="col">
                    <b>Quantidade no estoque:</b><div class="border">0</div> 
                </div>
            </div>

        </div>
    </div>
</div>

<%- include ('./partials/footer.ejs'); %>